.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 2.4rem;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--clr-seven);
  opacity: 0.4;
  z-index: 4;
}

.cart {
  background-color: var(--clr-six);
  position: relative;
  z-index: 5;
  margin-top: 11.4rem;
  padding: 3.2rem 2.8rem;
  border-radius: 0.8rem;
}

.cart-header,
.cart-total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header {
  margin-bottom: 3.1rem;
}

.title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
  color: var(--clr-seven);
}

.remove-all {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-decoration-line: underline;
  color: var(--clr-seven);
  opacity: 0.5;
  cursor: pointer;
}

.cart-total {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--clr-seven);
  mix-blend-mode: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

.cart-total-price {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: var(--clr-seven);
}

.cart-total-wrapper {
  margin-bottom: 2.4rem;
}

.cart-footer button {
  width: 100%;
}

.item-image-wrapper {
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--clr-three);
  border-radius: 0.8rem;
  display: grid;
  place-items: center;
}

.item-image {
  max-width: 4rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.item-image-title-wrapper {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.item-counter-wrapper > div {
  margin-right: 0;
}

.item-counter-wrapper > div > div {
  height: 3.2rem;
  width: 3.2rem;
  line-height: 3.2rem;
}

.item-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--clr-seven);
}

.item-price {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
