.footer {
  background-color: var(--clr-two);
  color: var(--clr-six);
  text-align: center;
}

.inner-wrapper {
  position: relative;
  padding: 5.2rem 2.4rem 3.8rem;
}

.inner-wrapper::before {
  content: '';
  display: block;
  height: 0.4rem;
  width: 10rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-one);
}

.logo {
  display: inline-block;
  margin: 0 auto 4.8rem;
}

.links {
  margin-bottom: 4.8rem;
}

.link {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: var(--clr-six);
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.6rem;
}

.description,
.copyright {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.5;
  margin-bottom: 4.8rem;
}

.copyright {
  font-weight: 700;
}

.social-icons {
  text-align: center;
}

.social-link {
  display: inline-block;
  margin-right: 1.6rem;
}

.social-link:last-child {
  margin-right: 0;
}
