.wrapper {
  background-image: url('/images/home/mobile/image-header.jpg');
  background-size: cover;
  background-position: center;
  padding: 10.8rem 2.4rem 11.2rem;
  text-align: center;
  color: white;
  margin-bottom: 9.2rem;
}

.new-product {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  color: var(--clr-six);
  letter-spacing: 1rem;
  opacity: 0.5;
  margin-bottom: 1.6rem;
}

.title {
  margin-bottom: 2.4rem;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--clr-six);
  opacity: 0.75;
  margin-bottom: 2.8rem;
}
