.wrapper {
  padding: 0 2.4rem;
}

.inner-wrapper {
  background-color: var(--clr-one);
  background-image: url('/images/home/mobile/zx9-speaker-bg.png');
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.image {
  margin: 0 auto 3.2rem;
}

.title {
  color: var(--clr-six);
  max-width: 24rem;
  margin: 0 auto 2.4rem;
}

.description {
  max-width: 28rem;
  margin: 0 auto 2.4rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--clr-six);
  opacity: 0.75;
}
