.quantity-wrapper {
  background-color: var(--clr-three);
  display: inline-block;
  margin-right: 1.6rem;
}

.decrease,
.increase {
  width: 4.5rem;
  height: 4.8rem;
  line-height: 4.8rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: var(--clr-seven);
  opacity: 0.25;
  user-select: none;
}

.decrease:hover,
.increase:hover {
  color: var(--clr-one);
  opacity: 1;
}

.count {
  width: 3rem;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--clr-seven);
}
